<h1>{{ title }}</h1>

<ul>
  <p *ngIf="listaTarefas.length==0"><small>Nenhuma tarefa cadastrada</small></p>
  <li *ngFor="let item of listaTarefas"> {{item.id}} - {{item.descricao}} <button *ngIf="!item.done"
      (click)="markAsDone(item)" type="button" class="btn btn-outline-light">Concluir</button> <button *ngIf="item.done"
      (click)="markAsUndone(item)" type="button" class="btn btn-danger">Desfazer</button> <button (click)="remove(item)"
      type="button" class="btn btn-outline-light">Excluir</button></li>
</ul>

<form [formGroup]="form" id="formulario">
  <div>
    <fieldset>
    <legend>To-Do-List</legend>
    <label for="">TAREFA:</label>
    <input type="text" title="A descrição deve conter de 3 a 30 caracteres." name="" required="required" formControlName="task" id="task"
      placeholder="Descreva a tarefa..." maxlength="30" autocomplete="off">
    <p></p>
    <button [disabled]="form.invalid" (click)="addTask()" type="button" class="btn btn-dark">Incluir</button>
  </fieldset>
  </div>
</form>